.web--nav {
    height: $nav-height;
    padding: 0 20px;
    background-color: #33302d;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__item {
        padding: 0 10px;

        &--link {
            
            font-size: 20px;
            font-weight: 500;
            color: white;
            transition: all 0.25s ease-in;

            &.active{
               color: rgb(248, 71, 71);
            }

            &:hover{
                color: rgb(248, 71, 71);
            }
        }
    }
}